body{
    background-color: black;

}
.olstyle{
    color: rgb(240, 235, 235);
    width: 40%;
    border: 1px solid white;
    margin: 300 400;
}
.olstyle li{
    width: 500px;
    list-style: none;
    /* background-color: white; */
    padding: 10px;
    align-items: center;
}
.items:nth-child(even):hover{
    background-color: gray;
}
.items:nth-child(odd):hover{
    color: pink;
}

